[submodule "CityGuideTestApp/CityGuideTestApp/Utilities/External/MTItemListCache"]
	path = CityGuideTestApp/CityGuideTestApp/Utilities/External/MTItemListCache
	url = https://github.com/maxxx777/MTItemListCache
[submodule "CityGuideTestApp/CityGuideTestApp/Utilities/External/MTAlertWrapper"]
	path = CityGuideTestApp/CityGuideTestApp/Utilities/External/MTAlertWrapper
	url = https://github.com/maxxx777/MTAlertWrapper
[submodule "CityGuideTestApp/CityGuideTestApp/Utilities/External/NSString-MTFormatting"]
	path = CityGuideTestApp/CityGuideTestApp/Utilities/External/NSString-MTFormatting
	url = https://github.com/maxxx777/NSString-MTFormatting
